$color_command: #7dc3f3;
$color_event: #fca65b;
$color_concept: #fae99a;
$color_entity: #77ca9a;

$color_rule: #fae99a;
$color_role: #fdf9c2;
$color_scheduler: #77ca9a;
$color_ext_system: #ed9fc2;
$color_comment: #cc1754;

$selected_border_color: #727272;

