<div class="domain-design" dragula="PARENT" [(dragulaModel)]="domainDesignData"
     mwlResizable
     (dragulaModelChange)="changeAggregateModel()"
     [enableGhostResize]="true"
     [resizeEdges]="{ bottom: true, right: true, top: true, left: true }"
     (resizeEnd)="onResizeEnd($event)">

    <div *ngFor="let group of domainDesignData">
        <div class="group-handle">
            {{group.name}}
        </div>
        <div class="aggregate-container"
             dragula="ITEMS"
             (dragulaModelChange)="changeAggregateModel()"
             [(dragulaModel)]="group.valueObjects">
            <div class="drag-item vo" *ngFor="let x of group.valueObjects">
                {{x.name}}
            </div>
        </div>
    </div>
</div>
