<div *ngFor="let domainGroup of domainDesignData">
    <div class="domain-design" dragula="PARENT"
         [dragulaModel]="domainGroup"
         mwlResizable
         (dragulaModelChange)="domainGroup = $event;changeAggregateModel($event)"
         [enableGhostResize]="true"
         [resizeEdges]="{ bottom: true, right: true, top: true, left: true }"
         (resizeEnd)="onResizeEnd($event)">

        <div *ngFor="let group of domainGroup">
            <div class="group-handle" (contextmenu)="openContext($event, group)">
                {{group.name}}
            </div>
            <div class="aggregate-container"
                 dragula="ITEMS"
                 [dragulaModel]="group.valueObjects"
                 (dragulaModelChange)="group.valueObjects = $event;">
                <div class="drag-item vo" *ngFor="let x of group.valueObjects;let index = index;"
                     (dblclick)="enableEdit(x)" [attr.data-id]="x.id">
                    <span *ngIf="!x.editable">{{x.name}}</span>
                    <textarea #txtArea
                              *ngIf="x.editable"
                              [(ngModel)]="x.name"
                              (keydown.enter)="onTextareaEnter(x)"></textarea>
                </div>
                <div class="create-item" (dblclick)="createStatus.editable = true">
                    <span *ngIf="!createStatus.editable"></span>
                     <textarea #addArea
                               *ngIf="createStatus.editable"
                               [(ngModel)]="createItemModel"
                               (keydown.enter)="addItem(group.valueObjects)"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="domain-design" dragula="PARENT"
     [dragulaModel]="newDomainGroup"
     (dragulaModelChange)="newDomainGroup = $event; mergeGroup($event)"
>
</div>


<ng-template #domainObjectMenu let-domain>
    <mat-card class="vo-menu">
        <div (click)="deleteDomain(domain)">Delete</div>
    </mat-card>
</ng-template>
