@import "../../../styles";

.domain-design {
  padding: 20px;
  border: 4px #000 dashed;
  width: 818px;
  box-sizing: border-box;
  visibility: inherit;
  position: fixed;
}

.mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.aggregate-container {
  min-width: 600px;
  width: 100%;
}

.drag-item {
  @extend .noselect;

  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  text-align: center;
  float: left;
}

.drag-item.vo {
  background-color: $color_comment;
}

.drag-item.entity {
  background-color: $color_command;
}

.group-handle {
  @extend .drag-item;
  @extend .entity;

  clear: left;
}

.drag-item.entity::before {
  display: block;
  clear: both;
}

.block {
  clear: both;
  display: block;
}
